.home{
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
}
.home .intro{
    text-align: center;
}
.home .intro img{
    height: 200px;
    width: 200px;
    display: inline-block;
}
.home .intro h1{
    font-size: 30px;
    color: #7d7d7d;
    font-weight: 700;
    margin: 20px 0 10px;
}
.home .intro p{
    font-size: 24px;
    font-weight: 600;
    color: #7d7d7d;
    margin: 0;
    line-height: 22px;
}
.home .intro .social-link{
    margin-top: 25px;
}
.home .intro .social-link a{
    height: 35px;
    width: 35px;
    display: inline-block;
    margin: 0px 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.home .intro .social-link a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.home .intro .social-link img{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 0%;
}